mixin categoriesTree(records, level = 1)
    each item in records
        option(value=item.id)= '-- '.repeat(level - 1) + item.title
        if item.child && item.child.length > 0
            +categoriesTree(item.child, level + 1)